<div *ngIf="!isLoading; else loadingTemplate" class="center content-background flex-column">
  <div class="content-container">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-md-4">
          <div class="container">
            <h2>Not Started ({{notStarted.length}})</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="notStarted"
              (cdkDropListDropped)="drop($event, 'NotStarted')">
              <mat-accordion class="box"
                             *ngFor="let task of notStarted; let i = index"
                             cdkDrag
                             (mousedown)="previousLocation($event)"
                             (mouseup)="currentLocation($event, notStartedPanel)">
                <mat-expansion-panel class="d-flex flex-column w-100" #notStartedPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="onEdit(notStarted, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(notStarted, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h2>In Progress ({{inProgress.length}})</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="inProgress"
              (cdkDropListDropped)="drop($event, 'InProgress')">
              <mat-accordion class="box"
                             *ngFor="let task of inProgress; let i = index"
                             cdkDrag
                             (mousedown)="previousLocation($event)"
                             (mouseup)="currentLocation($event, inProgressPanel)">
                <mat-expansion-panel class="d-flex flex-column" #inProgressPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="onEdit(inProgress, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(inProgress, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h2>Completed ({{completed.length}})</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="completed"
              (cdkDropListDropped)="drop($event, 'Completed')">
              <mat-accordion class="box"
                             *ngFor="let task of completed; let i = index"
                             cdkDrag
                             (mousedown)="previousLocation($event)"
                             (mouseup)="currentLocation($event, completedPanel)">
                <mat-expansion-panel class="d-flex flex-column" #completedPanel>
                  <mat-expansion-panel-header>
                    <mat-panel-title class="completed">
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="onEdit(completed, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(completed, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="add-task-button" mat-fab (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<ng-template #loadingTemplate>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
