<div *ngIf="!isLoading; else loadingTemplate">

  <form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
    <div>
      <mat-form-field class="m-2">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name"/>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="m-2">
        <mat-label>Description</mat-label>
        <input matInput type="text" formControlName="description"/>
      </mat-form-field>
    </div>

    <div>
      <mat-radio-group class="d-flex flex-column" formControlName="status">
        <mat-radio-button value="NotStarted">Not Started</mat-radio-button>
        <mat-radio-button value="InProgress">In Progress</mat-radio-button>
        <mat-radio-button value="Completed">Completed</mat-radio-button>
      </mat-radio-group>
    </div>


    <div class="d-flex flex-column" formGroupName="dueDate">
      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="dp" placeholder="Pick" required formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Time</mat-label>
        <input matInput type="time" placeholder="Pick" formControlName="time">
      </mat-form-field>
    </div>

    <button *ngIf="editMode; else addMode" mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Edit
      Task
    </button>
    <ng-template #addMode>
      <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">Add Task
      </button>
    </ng-template>
  </form>
  <div class="col-md-9">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-md-4">
          <div class="container">
            <h2>Not Started</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="notStarted"
              (cdkDropListDropped)="drop($event, 'NotStarted')">
              <mat-accordion class="box" *ngFor="let task of notStarted; let i = index" cdkDrag>
                <mat-expansion-panel class="d-flex flex-column">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="editTask(notStarted, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(notStarted, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h2>In Progress</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="inProgress"
              (cdkDropListDropped)="drop($event, 'InProgress')">
              <mat-accordion class="box" *ngFor="let task of inProgress; let i = index" cdkDrag>
                <mat-expansion-panel class="d-flex flex-column">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="editTask(inProgress, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(inProgress, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="container">
            <h2>Completed</h2>
            <div
              class="list"
              cdkDropList
              [cdkDropListData]="completed"
              (cdkDropListDropped)="drop($event, 'Completed')">
              <mat-accordion class="box" *ngFor="let task of completed; let i = index" cdkDrag>
                <mat-expansion-panel class="d-flex flex-column">
                  <mat-expansion-panel-header>
                    <mat-panel-title class="completed">
                      {{task.name}}
                    </mat-panel-title>
                    <button mat-icon-button color="primary" (click)="editTask(completed, i)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTask(completed, i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </mat-expansion-panel-header>
                  <p>{{task.description}}</p>
                  <p>{{task.createdAt}}</p>
                  <p>{{task.dueDate}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTemplate>
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
