<form [formGroup]="form" (ngSubmit)="submit(formDirective)" #formDirective="ngForm">
  <div class="d-flex flex-column">

    <mat-form-field class="m-2">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name"/>
      <mat-error *ngIf="form.get('name')?.invalid">Name is required</mat-error>
    </mat-form-field>


    <mat-form-field class="m-2">
      <mat-label>Description</mat-label>
      <textarea cdkTextareaAutosize matInput formControlName="description"></textarea>
    </mat-form-field>


    <mat-radio-group formControlName="status" class="m-2">
      <mat-label>Status</mat-label>
      <div class="d-flex m-2 justify-content-around">
        <mat-radio-button class="me-2" value="NotStarted">Not Started</mat-radio-button>
        <mat-radio-button class="me-2" value="InProgress">In Progress</mat-radio-button>
        <mat-radio-button value="Completed">Completed</mat-radio-button>
      </div>
      <mat-error class="status-error" *ngIf="form.get('status')?.touched && form.get('status')?.invalid">Status is required</mat-error>
    </mat-radio-group>

    <div class="d-flex flex-row m-2" formGroupName="dueDate">
      <mat-form-field class="dueDateFormField me-5">
        <mat-label>Due Date</mat-label>
        <input matInput placeholder="Pick" formControlName="date" type="date">
        <mat-error *ngIf="form.get('dueDate')?.get('date')?.invalid">Date is required</mat-error>
      </mat-form-field>

      <mat-form-field class="dueDateFormField">
        <mat-label>Due Time</mat-label>
        <input matInput type="time" placeholder="Pick" formControlName="time" (input)="setDateRequired()">
      </mat-form-field>
    </div>

  </div>

  <button class="m-2" *ngIf="this.data.edit; else addMode" mat-flat-button color="primary" type="button"
          (click)="editTask(formDirective)">
    Edit Task
  </button>
  <ng-template #addMode>
    <button class="m-2" mat-flat-button color="primary" type="submit">Add Task
    </button>
  </ng-template>
</form>
